{{define "sidebar"}}
    <div class="bg-white py-4">
        <div class="container mx-auto flex items-center">
            <div class="flex items-center">
                {{if .Config}}
                <a class="flex items-center gap-4 z-[999999]" href="/">
                    <img class="logo z-50 h-[40px]" src="{{ .Config.logoImage }}" alt="{{ .Config.logoName }}">
                    <h1 class="logoName text-heading-4 font-bold z-[9999]">{{ .Config.logoName }}</h1>
                </a>
                {{end}}
            </div>
            <div class="flex-grow mx-8">
                <div class="flex border border-red-500 rounded overflow-hidden">
                    <input class="flex-grow p-2" placeholder="路由器千兆" type="text">
                    <button class="bg-red-500 text-white px-4">
                        <i class="fas fa-search">
                        </i>
                    </button>
                </div>
            </div>
            <div class="flex items-center">
                <button class="border border-gray-300 px-4 py-2 rounded flex items-center">
                    <i class="fas fa-shopping-cart text-red-500">
                    </i>
                    <span class="ml-2">
                        我的购物车
                    </span>
                    <span class="ml-2 bg-red-500 text-white rounded-full px-2">
                        3
                    </span>
                </button>
                <img alt="QR code for JD app" class="h-16 ml-4" height="100"
                    src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-2IQr0zJDju0bGmuAhbVV6yeu.png?st=2024-07-09T09%3A00%3A21Z&amp;se=2024-07-09T11%3A00%3A21Z&amp;sp=r&amp;sv=2023-11-03&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-07-08T18%3A17%3A29Z&amp;ske=2024-07-09T18%3A17%3A29Z&amp;sks=b&amp;skv=2023-11-03&amp;sig=8v0KyEPtO11PYpwwQDzmPYwH%2B0b%2BnnaTYdyvx8cFWYA%3D"
                    width="100">
            </div>
        </div>
    </div>
{{end}}